<!------------------------------------------------------------------------------
Copyright 2022-2023 RHEA System S.A.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
------------------------------------------------------------------------------->

@page "/projects/{Id}"

@using SysML2.NET.API.DTO
@using System.Globalization

@if (isLoading)
{
	<RadzenHeading Size="H1" style="display: inline-block" Text="Project Details"></RadzenHeading>

	<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else
{
	<RadzenFieldset AllowCollapse="true" Style="margin-bottom: 10px;">
		<HeaderTemplate>
			<span class="d-inline-flex align-items-center align-middle">
				<RadzenIcon Icon="stars" Class="mr-1" /><b>Project Details</b>
			</span>
		</HeaderTemplate>
		
		<ChildContent>
			<div class="row">
				<div class="col-md-6 col-xl-6 col-lg-6">
					<div><b>Name:</b></div>
					<div>@(string.IsNullOrEmpty(this.project?.Name) ? "NOT SET" : this.project.Name) </div>
					
					<div><b>Default Branch:</b></div>
					<div>@(this.defaultBranch == null ? "NOT SET" : this.defaultBranch.Name)</div>

					<div><b>Branches: </b>@(this.branches == null ? "0" : this.branches.Count())</div>
					
					<div><b>Tags: </b>@(this.tags == null ? "0" : this.tags.Count())</div>
				</div>

				<div class="col-md-6 col-xl-6 col-lg-6">
					<div><b>Description:</b></div>
					<div>@(string.IsNullOrEmpty(this.project?.Description) ? "NOT SET" : this.project.Description) </div>
				</div>
			</div>
		</ChildContent>
	</RadzenFieldset>

	<RadzenDataGrid Count="@this.branches.Count()" AllowFiltering="true" AllowColumnResize="true" Data="@this.branches" TItem="Branch" Style="margin-bottom: 10px;">
		<Columns>
			<RadzenDataGridColumn TItem="Branch" Title="Name">
				<Template Context="branch">
					<span>
						<RadzenIcon Icon="alt_route"/>
						<a href="/projects/@project?.Id">@branch.Name</a>
						@if (branch.Id == this.defaultBranch.Id)
						{
							<BSBadge Style="margin-left: 5px" Color="BSColor.Primary" IsPill="true">default</BSBadge>
						}
					</span>
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="Branch" Property="Description" Title="Description" />
			<RadzenDataGridColumn TItem="Branch" Title="Head">
				<Template Context="branch">
					@branch.Head
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="Branch" Title="TimeStamp">
				<Template Context="branch">
					@branch.TimeStamp.ToString("yyyy-MM-dd, HH:mm:ss", CultureInfo.InvariantCulture)
				</Template>
			</RadzenDataGridColumn>
		</Columns>
	</RadzenDataGrid>
	
	<RadzenDropDown @bind-Value="this.selectedBranchId" TValue="Guid"
	                Multiple="false" Placeholder="Select Branch..."
	                Data="@this.branches" TextProperty="Name" ValueProperty="Id"
	                Change="@this.BranchSelectionChange">
	</RadzenDropDown>
	
	<RadzenDataGrid Count="@this.commits.Count()" AllowSorting="true" AllowColumnResize="true" Data="@this.commitHistory" TItem="Commit">
		<Columns>
			<RadzenDataGridColumn TItem="Commit" Title="Identifier">
				<Template Context="commit">
					<span>
						<div>@commit.Id</div>
						@foreach (var tag in this.tags)
						{
							if (@tag.TaggedCommit == @commit.Id)
							{
								<BSBadge Style="margin-left: 5px" Color="BSColor.Info" IsPill="true">@tag.Name</BSBadge>
							}
						}
					</span>
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="Commit" Property="Description" Title="Description" />
			<RadzenDataGridColumn TItem="Commit" Title="Previous Commit">
				<Template Context="commit">
					@commit.PreviousCommit
				</Template>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="Commit" Title="TimeStamp">
				<Template Context="commit">
					@commit.TimeStamp.ToString("yyyy-MM-dd, HH:mm:ss", CultureInfo.InvariantCulture)
				</Template>
			</RadzenDataGridColumn>
		</Columns>
	</RadzenDataGrid>
}
