<!--
    Copyright 2022-2023 RHEA System S.A.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/rheaclassdocs.css" rel="stylesheet">
        <title>SysML2 Ecore based Meta Model Documentation</title>
    </head>
    <body>
        <div class="wrap">
            <main>
                <aside>
                    <H2>Table of Contents</H2>
                        <H3><a href="#Enumeration">1. EnumerationTypes ({{ this.Enums.Length }})</a></H3>
                        <ul>
                            {{#each this.Enums as | enum |}}
                            <li><a href="#{{enum.Name}}">{{enum.Name}}</a></li>
                            {{/each}}
                        </ul>
                        <H3><a href="#Classes">2. Classes ({{ this.Classes.Length }})</a></H3>
                        <ul>
                            {{#each this.Classes as | class |}}
                            <li><a href="#{{class.Name}}">{{class.Name}}</a></li>
                            {{/each}}
                        </ul>
                </aside>
                <article>
                    <div class="row text-center" style="margin-top: 40px;">
                        <img src="css/images/rhea_logo_small.png">
                        <H1>SysML2 Ecore based Meta Model Documentation</H1>
                        <p class="small">Powered By RHEA Group, 2022-2023</p>
                    </div>
                    <H2 id="Enumeration">1. Enumeration Types</H2>
                        {{#each this.Enums as | enum |}}
                        <H3><a id="Enumeration">{{ enum.Name }}</a></H3>
                        <p>
                            {{ #RawDocumentation enum }}
                        </p>
                        <table class="rhea-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each enum.ELiterals as | enumerationLiteral |}}
                                <tr>
                                    <td id="{{enumerationLiteral.Name}}">{{enumerationLiteral.Name}}</td>
                                    <td>
                                        <p>
                                            {{ #RawDocumentation enumerationLiteral }}
                                        </p>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{/each}}
                    <H2 id="Classes">2. Classes</H2>
                        {{#each this.Classes as | eClass |}}

                        <H3 id="{{eClass.Name}}">{{eClass.Name}}</H3>
                        <H4>Definition</H4>
                            {{ #RawDocumentation eClass }}
                        <H4>Features</H4>
                        <table class="rhea-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Is Abstract</td>
                                <td> {{#if this.Abstract}} TRUE {{else}} FALSE {{/if}} </td>
                            </tr>
                            <tr>
                                <td>Generalizations</td>
                                <td>
                                    {{#each eClass.ESuperTypes as | subClass |}}
                                    <a href="#{{subClass.Name}}">{{subClass.Name}}</a>
                                    {{/each}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <H4>Properties</H4>
                        <table class="rhea-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Default</th>
                                <th>Description</th>
                                <th>Inheritance</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each this.AllEStructuralFeaturesOrderByName as | structuralFeature |}}
                                <tr>
                                    <td>{{ structuralFeature.Name }}</td>
                                    <td><a href="#{{StructuralFeature.TypeName structuralFeature}}">{{StructuralFeature.TypeName structuralFeature}}</a> [{{ structuralFeature.LowerBound }}..{{ structuralFeature.UpperBound }}]</td>
                                    <td>{{ structuralFeature.DefaultValueLiteral }}</td>
                                    <td>{{ #RawDocumentation structuralFeature }}</td>
                                    <td><a href="#{{structuralFeature.EContainingClass.Name}}">{{structuralFeature.EContainingClass.Name}}</a></td>
                                 </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{/each}}
                </article>
            </main>
        </div>
    </body>
</html>